body,
html {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: xx-large;
  font-family: Patrick Hand SC;
  color: white;
  text-shadow: 0 2px 3px black, 0 0 0.25em rgba(0, 0, 0, 0.5);
  width: 80%; /* Set a fixed width */
  max-width: 600px; /* Optional: Set a maximum width */
  margin: 0 auto; /* Center the box horizontally */
}

#language-selector {
  margin: 10px;
}

#langs-output {
  font-size: 1.2em;
}

.middle {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topright {
  display: flex;
  align-items: center;
  padding: 2px;
  position: absolute;
  top: 1px;
  right: 1px;
  background: rgba(255, 255, 255, 0.1);
}

#countdown-timer {
  font-size: 1em;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
  margin-top: 10px; /* Add some space above the timer */
}
